int {{ algorithm }}_crypto_kem_keypair(uint8_t *pk, uint8_t *sk);
int {{ algorithm }}_crypto_kem_enc(uint8_t *c, uint8_t *key, const uint8_t *pk);
int {{ algorithm }}_crypto_kem_dec(uint8_t *key, const uint8_t *c, const uint8_t *sk);

#define {{ algorithm }}_CRYPTO_PUBLICKEYBYTES ...
#define {{ algorithm }}_CRYPTO_SECRETKEYBYTES ...
#define {{ algorithm }}_CRYPTO_CIPHERTEXTBYTES ...
#define {{ algorithm }}_CRYPTO_BYTES ...
